{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio Tech</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/line-icons.css' %}">

    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>

<body>
    <div class="container">
        <!-- Start filter area -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-12">
                <h1 class="text-center">Filter Operations</h1>
                <div class="search-bar">
                    <div class="search-inner">
                        <form method="GET" class="search-form" action="{% url 'home' %}">

                            <div class="form-group inputwithicon">
                                <i class="lni-database"></i>
                                <div class="select">
                                    <select name="table_name">
                                        <option selected="true" disabled="disabled">Select Table</option>

                                        <option value="MetaTable">MetaTable</option>
                                        <option value="OtuTable">OtuTable</option>
                                        <option value="TaxonomicTable">TaxonomicTable</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group inputwithicon">
                                <i class="lni-menu"></i>
                                <div class="select">
                                    <select name="column_name">
                                        <option selected="true" disabled="disabled">Select Column</option>
                                        <option value="Sample">Sample</option>
                                        <option value="Seq">Seq</option>
                                        <option value="Kingdom">Kingdom</option>
                                    </select>
                                </div>
                            </div>
                            <button class="btn btn-common" type="submit"><i class="lni-search"></i>Filter</button>
                        </form>
                    </div>

                </div>
                
                <!-- Start Filter result table -->
                {% if queryset %}
                <table class="table table-bordered" id="table-filter">
                    <tbody>
                        {% for filter_query in queryset %}
                            {% if filter_query.sample %}
                            <tr>
                                <td>{{ filter_query.sample }}</td>
                            </tr>
                            {% endif %}

                            {% if filter_query.seq %}
                            <tr>
                                <td>{{ filter_query.seq }}</td>
                            </tr>
                            {% endif %}

                            {% if filter_query.kingdom %}
                            <tr>
                                <td>{{ filter_query.kingdom }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <input type="button" class="btn btn-info" id="btn-filter" value="Download Pdf" />
                {% endif %}
                
                <!-- End Filter result table -->
            </div>
        </div>
        <!-- End filter area -->

        <!-- Start merge area -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-12">
                <h1 class="text-center">Merge Operations</h1>
                <div class="search-bar">
                    <div class="search-inner">
                        <form method="GET" class="search-form" action="{% url 'home' %}">

                            <div class="form-group inputwithicon" id="merge">
                                <i class="lni-database"></i>
                                <div class="select">
                                    <select name="table_1">
                                        <option selected="true" disabled="disabled">Select Table 1</option>
                                        <option value="MetaTable">MetaTable</option>
                                        <option value="TaxonomicTable">TaxonomicTable</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group inputwithicon" id="merge">
                                <i class="lni-select"></i>
                                <div class="select">
                                    <select name="q_type">
                                        <option selected="true" disabled="disabled">Select Query</option>
                                        <option value="Join">Join</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group inputwithicon" id="merge">
                                <i class="lni-database"></i>
                                <div class="select">
                                    <select name="table_2">
                                        <option selected="true" disabled="disabled">Select Table 2</option>
                                        <option value="OtuTable">OtuTable</option>
                                    </select>
                                </div>
                            </div>
                            <button class="btn btn-common" type="submit"><i class="lni-search"></i> Merge</button>
                        </form>
                    </div>
                </div>

                <!-- Start Merge result table -->
                {% if q_join_1 %}
                <table class="table table-bordered" id="table-merge1">
                    <thead>
                        <tr>
                            <th scope="col">Sequence</th>
                            <th scope="col">Sa 1</th>
                            <th scope="col">Sa 2</th>
                            <th scope="col">Sa 3</th>
                            <th scope="col">Sample</th>
                            <th scope="col">Group</th>
                            <th scope="col">Diet</th>
                            <th scope="col">Cage</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>

                    {% for merge_query in q_join_1 %}
                    <tbody>
                        <tr>
                            <td>{{ merge_query.seq_id.seq }}</td>
                            <td>{{ merge_query.seq_id.sa_1 }}</td>
                            <td>{{ merge_query.seq_id.sa_2 }}</td>
                            <td>{{ merge_query.seq_id.sa_3 }}</td>
                            <td>{{ merge_query.sample_id.sample }}</td>
                            <td>{{ merge_query.sample_id.group }}</td>
                            <td>{{ merge_query.sample_id.diet }}</td>
                            <td>{{ merge_query.sample_id.cage }}</td>
                            <td>{{ merge_query.value }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}

                </table>
                <input type="button" class="btn btn-info" id="btn-merge1" value="Download Pdf" />
                {% endif %}
                <!-- End Merge result table -->

                <!-- Start Merge result table -->
                {% if q_join_2 %}
                <table class="table table-bordered" id="table-merge2">
                    <thead>
                        <tr>
                            <th scope="col">Sequence</th>
                            <th scope="col">Sa 1</th>
                            <th scope="col">Sa 2</th>
                            <th scope="col">Sa 3</th>
                            <th scope="col">Kingdom</th>
                            <th scope="col">Phylum</th>
                            <th scope="col">Class</th>
                            <th scope="col">Order</th>
                            <th scope="col">Family</th>
                            <th scope="col">Genus</th>
                        </tr>
                    </thead>

                    {% for merge_query in q_join_2 %}
                    <tbody>
                        <tr>
                            <!-- <th scope="row">1</th> -->
                            <td>{{ merge_query.seq.seq }}</td>
                            <td>{{ merge_query.seq.sa_1 }}</td>
                            <td>{{ merge_query.seq.sa_2 }}</td>
                            <td>{{ merge_query.seq.sa_3 }}</td>
                            <td>{{ merge_query.kingdom }}</td>
                            <td>{{ merge_query.phylum }}</td>
                            <td>{{ merge_query.taxonomy_class }}</td>
                            <td>{{ merge_query.phylum }}</td>
                            <td>{{ merge_query.genus }}</td>
                            <td>{{ merge_query.species }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}

                </table>
                <input type="button" class="btn btn-info" id="btn-merge2" value="Download Pdf" />
                {% endif %}
                <!-- End Merge result table -->

            </div>
        </div>
        <!-- End merge area -->

        <!-- Start search area -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-12">
                <h1 class="text-center">Search Operations</h1>
                <!-- Start search bar -->
                <div class="search-bar">
                    <div class="search-inner">
                        <form method="GET" class="search-form" action="{% url 'home' %}">
                            <div class="form-group inputwithicon" id="search">
                                <i class="lni-tag"></i>
                                <input type="text" name="search_term" class="form-control" placeholder="Enter a MetaData table column (e.g. sample, group, diet)">
                            </div>
                            <button class="btn btn-common" type="submit"><i class="lni-search"></i> Search</button>
                        </form>
                    </div>
                </div>
                <!-- End search bar -->

                <!-- Start search result table -->
                {% if search_queryset %}
                <table class="table table-bordered">
                    {% for search_query in search_queryset %}
                    <tbody>
                        {% if search_query.sample %}
                        <tr>
                            <td>{{ search_query.sample }}</td>
                        </tr>
                        {% endif %}

                        {% if search_query.group %}
                        <tr>
                            <td>{{ search_query.group }}</td>
                        </tr>
                        {% endif %}

                        {% if search_query.diet %}
                        <tr>
                            <td>{{ search_query.diet }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                    {% endfor %}
                </table>
                {% endif %}
                <!-- End search result table -->
            </div>

            <div class="col-12 col-md-12 col-lg-12">
                <!-- Start search bar -->
                <div class="search-bar">
                    <div class="search-inner">
                        <form method="GET" class="search-form" action="{% url 'home' %}">
                            <div class="form-group inputwithicon" id="search">
                                <i class="lni-tag"></i>
                                <input type="text" name="search_term" class="form-control" placeholder="Enter a Otu table column (e.g. seq, sa_1, sa_2)">
                            </div>
                            <button class="btn btn-common" type="submit"><i class="lni-search"></i> Search</button>
                        </form>
                    </div>
                </div>
                <!-- End search bar -->

                <!-- Start search result table -->
                {% if search_queryset %}
                <table class="table table-bordered">
                    {% for search_query in search_queryset %}
                    <tbody>
                        {% if search_query.seq %}
                        <tr>
                            <td>{{ search_query.seq }}</td>
                        </tr>
                        {% endif %}

                        {% if search_query.sa_1 %}
                        <tr>
                            <td>{{ search_query.sa_1 }}</td>
                        </tr>
                        {% endif %}

                        {% if search_query.sa_2 %}
                        <tr>
                            <td>{{ search_query.sa_2 }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                    {% endfor %}
                </table>
                {% endif %}
                <!-- End search result table -->
            </div>

            <div class="col-12 col-md-12 col-lg-12">
                <!-- Start search bar -->
                <div class="search-bar">
                    <div class="search-inner">
                        <form method="GET" class="search-form" action="{% url 'home' %}">
                            <div class="form-group inputwithicon" id="search">
                                <i class="lni-tag"></i>
                                <input type="text" name="search_term" class="form-control" placeholder="Enter a Taxonomic table column (e.g. kingdom, phylum, family)">
                            </div>
                            <button class="btn btn-common" type="submit"><i class="lni-search"></i> Search</button>
                        </form>
                    </div>
                </div>
                <!-- End search bar -->

                <!-- Start search result table -->
                {% if search_queryset %}
                <table class="table table-bordered">
                    {% for search_query in search_queryset %}
                    <tbody>
                        {% if search_query.kingdom %}
                        <tr>
                            <td>{{ search_query.kingdom }}</td>
                        </tr>
                        {% endif %}

                        {% if search_query.phylum %}
                        <tr>
                            <td>{{ search_query.phylum }}</td>
                        </tr>
                        {% endif %}

                        {% if search_query.family %}
                        <tr>
                            <td>{{ search_query.family }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                    {% endfor %}
                </table>
                {% endif %}
                <!-- End search result table -->
            </div>
        </div>
        <!-- End search area -->
    </div>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script> 
     
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script> 
     
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <script type="text/javascript">
        $("body").on("click", "#btn-filter", function () {
            html2canvas($('#table-filter')[0], {
                dpi: 192,
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Filter-info.pdf");
                }
            });
        });

        $("body").on("click", "#btn-merge1", function () {
            html2canvas($('#table-merge1')[0], {
                dpi: 192,
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Merge-info.pdf");
                }
            });
        });

        $("body").on("click", "#btn-merge2", function () {
            html2canvas($('#table-merge2')[0], {
                dpi: 192,
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Merge-info.pdf");
                }
            });
        });
    </script>
</body>

</html>